<!doctype html>
<html lang="fr">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <%- include('../../header'); %>
                <nav>
                    <div class="row py-2 bg-light border-top border-bottom">
                        <div class="col px-5">
                            <div class="d-flex justify-content-end">
                                <a href="/candidate/offers" role="button" class="btn btn-danger">Retour</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="container-md p-4">
            <h1 class="mb-5">Offre n°<%= id %>: <%= name %></h1>
            <p><%= description %></p>
            <p>Créé le <%= dateCreation %></p>
            
            <div class="mt-5 pt-3 border-top">
                <h2>Candidature</h2>
                Cette offre vous intéresse? Remplissez le formulaire ci-dessous pour envoyer votre candidature.

                <form class="border mt-3 p-3" action="<%= id %>/proposal" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="inputFiles" class="form-label">Dossier de candidature</label>
                        <input type="file" class="form-control" multiple="multiple" name="proposal" id="inputFiles" aria-describedby="filesHelp">
                        <div id="filesRules" class="form-text">Formats acceptés: PDF, JPG, PNG</div>
                    </div>
                    <div class="mb-3">
                        <label for="inputText" class="form-label" >Description</label>
                        <input type="text" class="form-control" name="description" autocomplete="off" id="inputText" aria-describedby="textHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer la candidature</button>
                </form>
            </div>
        </section>
        <footer class="text-center text-lg-start bg-light text-muted">
            <section class="d-flex justify-content-center justify-content-lg-around p-4 border-bottom border-top">
                <a role="button" class="btn btn-danger">Signaler</a>
            </section>
        </footer>
    </body>
</html>