<!doctype html>
<html lang="fr">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <%- include('../../header'); %>
                <%- include('../nav', {active: "offers"}); %>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row vw-100">
                <div class="col-2 py-2 bg-light bg-gradient">
                    <aside>
                        <!-- <div class="hstack"> -->
                            <%- include('../../tri', {options: {
                                'nom': 'Nom',
                                'date_creation': "Date de création",
                                'position': "Position",
                              },optionsearch: {
                                'nom': 'Nom',
                                'date_creation': "Date de création",
                              }}
                              ); %>
                        <!-- </div> -->
                    </aside>
                </div>
                <div class="col-10">
                    <%- include("../../list_display", {
                        list: offers,
                        title: (offer) => `Offre n°${offer.id} de ${offer.organisation}`,
                        buttons: (offer) => [{href: `/candidate/offer_detail/${offer.id}`, name: "Voir les détails"}],
                        info: (offer) => [offer.nom]
                    }) %>
                </div>
            </div>
        </div>
        <footer class="d-flex justify-content-around text-center text-lg-start bg-light text-muted">
            <%- include('../footer'); %>
            <%- include('../../page_counter', {pageNumber: pageNumber, maxPages: maxPages, params: params}); %>
            <div></div>
        </footer>
    </body>
</html>