<!doctype html>
<html lang="fr">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <%- include('../../header'); %>
                <nav>
                    <div class="row py-2 bg-light border-top border-bottom">
                        <div class="col px-5">
                            <div class="d-flex justify-content-end">
                                <a href="/admin/account_detail/<%= account.mail %>" role="button" class="btn btn-danger">Retour</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="container-md p-4">
            <h1>Edition du compte de <%= account.prenom %> <%= account.nom %></h1>
            <form class="justify-content-center" action="/admin/edit_account/<%= account.mail %>" method="post">
                <div class="mb-3">
                    <label for="inputActive" class="form-label">Actif</label>
                    <input name="active" type="checkbox" <% if (account.actif) { %> checked <% } %> id="inputActive" aria-describedby="activeHelp">
                </div>
                <div class="mb-3">
                    <label for="inputType" class="form-label">Type de compte</label>
                    <select required name="type" type="text" class="form-control" id="inputType" aria-describedby="typeHelp">
                        <% for (key in types) { %>
                            <option value="<%= key %>" <% if (key=== account.type) { %> selected <% } %>><%= types[key] %></option>
                        <% } %>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Editer le compte</button>
            </form>
        </section>
        <footer class="text-center text-lg-start bg-light text-muted">
            <section class="d-flex justify-content-center justify-content-lg-around p-4 border-bottom border-top">
                <a role="button" href="/admin/accounts/" class="btn btn-danger">Retour aux comptes</a>
            </section>
        </footer>
    </body>
</html>